/* Elements */
h1, h2, h3
{
    font-weight: 400;
    font-style: normal;
}
h1 
{
    color: darkslategray;
    text-align: center;
    line-height: 0px;
    font-size: 120px;
    font-family: "Kolker Brush", cursive;
    
}
h2 
{
    color: whitesmoke;
    background-color: #748873;
    text-align: center;
    font-family: "Syne Mono", monospace;
    font-size: 24px;
    border-radius: 5%;
}
h3
{
    text-align: center;
    font-size: 20px;
    font-family: "Kotta One", serif;
}
body 
{
    background-color: #E5E0D8;
}
a:link {
  color: #01905e;
  background-color: transparent;
  text-decoration: underline;
}
a:hover {
  color: #019084;
  background-color: transparent;
  text-decoration: none;
}
a:active {
  color: darkorange;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: rgb(0, 26, 0);
  background-color: transparent;
  text-decoration: none;
}

/* Classes */
.centered
{
    text-align: center;
}
.container
{
    background-color: #f8f8f856;
    display: flex;
    gap: 16px;
}
.image
{
    display: block;
    object-fit: cover;
    position: sticky;
    border: 1px solid lightgray;
    padding: 10px;
    margin: 0% 25% 0% 25%;
    width: 50%;
    border-radius: 20%;
    padding: 0px;
}
.invisible
{
    visibility: hidden;
}
.people
{
    font-size: 18pt;
    font-family: "Kolker Brush", system-ui;
}

/* IDs */
#aladdin
{
    font-size: 22px;
    font-family: "Aladin", system-ui;
}
#offset
{
    font-size: 12pt;
    position: relative;
    left: 30px;
    margin-right: 30px;
}

/* Media Query */
@media (max-width: 800px)
{
    h1{font-size: 85px;}
    h2{font-size: 16px;}
    .image{height: 140px;}
}